body {
    background-image: url('https://cdn.wallpapersafari.com/0/14/7ItidJ.jpg');
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  #mainPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  
  
  h1, h2 {
      text-align: center;
  }
  
  #filmBox {
     text-align: center;
  }
  
  #register, #registerText, #subtitle {
    text-align: center;
  }
  
  .movieTitle {
      font-style: italic;
  }
  
  p, li {
    font-size: 20px;
  }
  
  .form-row {
    width: 600px;
    
  }
  
  .filmText {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .map {
    padding-top: 60px;
  }

  .form-row {
      margin-bottom: 5px;
  }
  

  
  .registration {
    margin-left: 8%; 
  }

  #btnSubmit {
      margin-left: 40%;
  }

