h1, h2 {
    text-align: center;
    margin: 0;
}


.title {
    background-color: deepskyblue;
}

.subtitle {
    background-color: rgb(71, 123, 168);
}

.films {
    background-color: orangered; 
}

.register {
    background-color: azure;
}

h3 {
    margin-left: 30%;
}

li {
    font-size: 1.5em;
}

body {
    font-family: 'Lora', serif;
}

.movieTitle {
    font-style: italic;
}

